<!DOCTYPE html>
<html>

	<head>
		<%= require('../common/meta/meta.ejs')() %>
		<title>新闻列表页</title>
	</head>

	<body>
		<%= require('../common/nav-ordinary/nav-ordinary.ejs') ({StateCode : 1,TitleName:"NEWS"})%>
		<div class="fif-main">
			<%= require('../common/crumb-ordinary/crumb-ordinary.ejs')()%>
			<div class="news-list-bok">
				<div class="news-bok">
					<h6><a href="#" class="hover-f">Winner Announcement Hurrah&5 League's Pack</a><svg class="icon-next hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3059"><path d="M288 64c9 0 18.1 3.2 25 9.6L761 488.8c13.8 12.8 13.8 33.6 0 46.4L313 950.4c-13.8 12.8-36.2 12.8-50 0-13.8-12.8-13.8-33.6 0-46.4L686.00000001 512l-423.00000001-392c-13.8-12.8-13.8-33.6 0-46.4 6.9-6.4 16-9.6 25-9.6z" p-id="3060"></path></svg></h6>
					<div class="time">2019-07-19</div>
					<div class="abstract">
						Thanks for all your support on our website. Your well-intentioned criticisms and suggestions have always been the engine of fifacoinsbuy.com growth. Because of system optimization and upgrading, TOTW 34 & MOTM events are ended prematurely now. Thanks for your consideration.
						<a href="#" class="more font-c">more&nbsp;>></a>
					</div>
					<ul class="tag-bok">
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
					</ul>
				</div>
				<div class="news-bok">
					<h6><a href="#" class="hover-f">Winner Announcement Hurrah&5 League's Pack</a><svg class="icon-next hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3059"><path d="M288 64c9 0 18.1 3.2 25 9.6L761 488.8c13.8 12.8 13.8 33.6 0 46.4L313 950.4c-13.8 12.8-36.2 12.8-50 0-13.8-12.8-13.8-33.6 0-46.4L686.00000001 512l-423.00000001-392c-13.8-12.8-13.8-33.6 0-46.4 6.9-6.4 16-9.6 25-9.6z" p-id="3060"></path></svg></h6>
					<div class="time">2019-07-19</div>
					<div class="abstract">
						Thanks for all your support on our website. Your well-intentioned criticisms and suggestions have always been the engine of fifacoinsbuy.com growth. Because of system optimization and upgrading, TOTW 34 & MOTM events are ended prematurely now. Thanks for your consideration.
						<a href="#" class="more font-c">more&nbsp;>></a>
					</div>
					<ul class="tag-bok">
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
					</ul>
				</div>
				<div class="news-bok">
					<h6><a href="#" class="hover-f">Winner Announcement Hurrah&5 League's Pack</a><svg class="icon-next hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3059"><path d="M288 64c9 0 18.1 3.2 25 9.6L761 488.8c13.8 12.8 13.8 33.6 0 46.4L313 950.4c-13.8 12.8-36.2 12.8-50 0-13.8-12.8-13.8-33.6 0-46.4L686.00000001 512l-423.00000001-392c-13.8-12.8-13.8-33.6 0-46.4 6.9-6.4 16-9.6 25-9.6z" p-id="3060"></path></svg></h6>
					<div class="time">2019-07-19</div>
					<div class="abstract">
						Thanks for all your support on our website. Your well-intentioned criticisms and suggestions have always been the engine of fifacoinsbuy.com growth. Because of system optimization and upgrading, TOTW 34 & MOTM events are ended prematurely now. Thanks for your consideration.
						<a href="#" class="more font-c">more&nbsp;>></a>
					</div>
					<ul class="tag-bok">
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
					</ul>
				</div>
				<div class="news-bok">
					<h6><a href="#" class="hover-f">Winner Announcement Hurrah&5 League's PackWinner Announcement Hurrah&5 League's Pack</a><svg class="icon-next hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3059"><path d="M288 64c9 0 18.1 3.2 25 9.6L761 488.8c13.8 12.8 13.8 33.6 0 46.4L313 950.4c-13.8 12.8-36.2 12.8-50 0-13.8-12.8-13.8-33.6 0-46.4L686.00000001 512l-423.00000001-392c-13.8-12.8-13.8-33.6 0-46.4 6.9-6.4 16-9.6 25-9.6z" p-id="3060"></path></svg></h6>
					<div class="time">2019-07-19</div>
					<div class="abstract">
						Thanks for all your support on our website. Your well-intentioned criticisms and suggestions have always been the engine of fifacoinsbuy.com growth. Because of system optimization and upgrading, TOTW 34 & MOTM events are ended prematurely now. Thanks for your consideration.
						<a href="#" class="more font-c">more&nbsp;>></a>
					</div>
					<ul class="tag-bok">
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
					</ul>
				</div>
				<div class="news-bok">
					<h6><a href="#" class="hover-f">Winner Announcement Hurrah&5 League's PackWinner Announcement Hurrah&5 League's Pack</a><svg class="icon-next hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3059"><path d="M288 64c9 0 18.1 3.2 25 9.6L761 488.8c13.8 12.8 13.8 33.6 0 46.4L313 950.4c-13.8 12.8-36.2 12.8-50 0-13.8-12.8-13.8-33.6 0-46.4L686.00000001 512l-423.00000001-392c-13.8-12.8-13.8-33.6 0-46.4 6.9-6.4 16-9.6 25-9.6z" p-id="3060"></path></svg></h6>
					<div class="time">2019-07-19</div>
					<div class="abstract">
						Thanks for all your support on our website. Your well-intentioned criticisms and suggestions have always been the engine of fifacoinsbuy.com growth. Because of system optimization and upgrading, TOTW 34 & MOTM events are ended prematurely now. Thanks for your consideration.
						<a href="#" class="more font-c">more&nbsp;>></a>
					</div>
					<ul class="tag-bok">
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
					</ul>
				</div>
				<div class="news-bok">
					<h6><a href="#" class="hover-f">Winner Announcement Hurrah&5 League's PackWinner Announcement Hurrah&5 League's Pack</a><svg class="icon-next hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3059"><path d="M288 64c9 0 18.1 3.2 25 9.6L761 488.8c13.8 12.8 13.8 33.6 0 46.4L313 950.4c-13.8 12.8-36.2 12.8-50 0-13.8-12.8-13.8-33.6 0-46.4L686.00000001 512l-423.00000001-392c-13.8-12.8-13.8-33.6 0-46.4 6.9-6.4 16-9.6 25-9.6z" p-id="3060"></path></svg></h6>
					<div class="time">2019-07-19</div>
					<div class="abstract">
						Thanks for all your support on our website. Your well-intentioned criticisms and suggestions have always been the engine of fifacoinsbuy.com growth. Because of system optimization and upgrading, TOTW 34 & MOTM events are ended prematurely now. Thanks for your consideration.
						<a href="#" class="more font-c">more&nbsp;>></a>
					</div>
					<ul class="tag-bok">
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
					</ul>
				</div>
				<div class="news-bok">
					<h6><a href="#" class="hover-f">Winner Announcement Hurrah&5 League's PackWinner Announcement Hurrah&5 League's Pack</a><svg class="icon-next hover-f" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3059"><path d="M288 64c9 0 18.1 3.2 25 9.6L761 488.8c13.8 12.8 13.8 33.6 0 46.4L313 950.4c-13.8 12.8-36.2 12.8-50 0-13.8-12.8-13.8-33.6 0-46.4L686.00000001 512l-423.00000001-392c-13.8-12.8-13.8-33.6 0-46.4 6.9-6.4 16-9.6 25-9.6z" p-id="3060"></path></svg></h6>
					<div class="time">2019-07-19</div>
					<div class="abstract">
						Thanks for all your support on our website. Your well-intentioned criticisms and suggestions have always been the engine of fifacoinsbuy.com growth. Because of system optimization and upgrading, TOTW 34 & MOTM events are ended prematurely now. Thanks for your consideration.
						<a href="#" class="more font-c">more&nbsp;>></a>
					</div>
					<ul class="tag-bok">
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
						<li><a href="#" class="hover-b">FIFA Packs</a></li>
					</ul>
				</div>
				<dl class="data-status">
					<dt>没有更多数据</dt>
					<dd><svg class="icon-load" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3795"><path d="M537.317 274.788c-70.708 0-128.253-57.518-128.253-128.228 0-70.68 57.547-128.228 128.253-128.228 70.707 0 128.228 57.518 128.228 128.228 0 70.71-57.518 128.228-128.228 128.228zM264.279 376.611c-64.578 0-117.144-52.54-117.144-117.146S199.701 142.32 264.28 142.32c64.58 0 117.146 52.54 117.146 117.146 0 64.577-52.566 117.146-117.146 117.146z m-116.021 264.99c-56.97 0-103.3-46.327-103.3-103.298 0-56.946 46.328-103.272 103.3-103.272 56.946 0 103.272 46.328 103.272 103.272-0.001 56.97-46.33 103.3-103.272 103.298z m116.021 262.53c-48.296 0-87.593-39.294-87.593-87.594 0-48.296 39.322-87.591 87.593-87.591s87.594 39.294 87.594 87.59c0 48.3-39.295 87.595-87.594 87.595z m273.038 100.372c-42.193 0-76.51-34.316-76.51-76.51 0-42.197 34.315-76.51 76.51-76.51s76.51 34.313 76.51 76.51c0 42.195-34.315 76.51-76.51 76.51z m277.171-129.32c-34.04 0-61.761-27.693-61.761-61.761s27.722-61.76 61.761-61.76c34.042 0 61.759 27.691 61.759 61.76 0 34.068-27.72 61.76-61.759 61.76z m113.505-285.738c-27.938 0-50.678-22.74-50.678-50.677 0-27.939 22.74-50.68 50.678-50.68s50.707 22.74 50.707 50.68c0 27.938-22.768 50.677-50.707 50.677zM775.167 263.267c0 21.717 17.605 39.322 39.32 39.322 21.717 0 39.323-17.606 39.323-39.322 0-21.718-17.606-39.323-39.323-39.323-21.715 0-39.32 17.604-39.32 39.323z" p-id="3796"></path></svg>正在加载...</dd>
				</dl>
				<div class="paging-bok">
					<%= require('../common/aspnet-pager/aspnet-pager.ejs') ()%>
				</div>
			</div>
		</div>
		<%= require('../common/footer-ordinary/footer-ordinary.ejs') ()%>
	</body>

</html>